workflows/herinneringen-checker.json
{
  "id": "HBHerinnerCheck1",
  "name": "Huishoudbot — herinneringen checker",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "g1000000-0000-4000-8000-000000000001",
      "name": "Elke 5 minuten",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1400, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      }
    },
    {
      "id": "g1000000-0000-4000-8000-000000000002",
      "name": "Haal alle herinneringen op",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [-1180, 0],
      "notesInFlow": true,
      "notes": "Selecteer hier de tabel 'herinneringen'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "herinneringen"
        },
        "returnAll": true,
        "filters": {
          "conditions": []
        },
        "options": {}
      }
    },
    {
      "id": "g1000000-0000-4000-8000-000000000003",
      "name": "Bepaal vervallen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 0],
      "parameters": {
        "jsCode": "// Zoekt herinneringen waarvan het moment (volgende_op) nu of eerder is.\n// Berekent bij herhalende herinneringen meteen het volgende moment (kan meerdere\n// keren doorschuiven als de server een tijd uit heeft gestaan).\nconst nu = $now.setZone('Europe/Amsterdam');\nconst nuStr = nu.toFormat('yyyy-MM-dd HH:mm');\nconst rijen = $input.all().map(i => i.json).filter(r => r && r.tekst && r.volgende_op);\n\nfunction schuifDoor(volgendeOpStr, herhaling) {\n  const [datumDeel, tijdDeel] = volgendeOpStr.split(' ');\n  let [jaar, maand, dag] = datumDeel.split('-').map(Number);\n  let dt = new Date(Date.UTC(jaar, maand - 1, dag));\n  let veiligheidsteller = 0;\n  while (`${dt.toISOString().slice(0, 10)} ${tijdDeel}` <= nuStr && veiligheidsteller < 1000) {\n    if (herhaling === 'dagelijks') dt.setUTCDate(dt.getUTCDate() + 1);\n    else if (herhaling === 'wekelijks') dt.setUTCDate(dt.getUTCDate() + 7);\n    else if (herhaling === 'maandelijks') dt.setUTCMonth(dt.getUTCMonth() + 1);\n    else break;\n    veiligheidsteller++;\n  }\n  return `${dt.toISOString().slice(0, 10)} ${tijdDeel}`;\n}\n\nconst vervallen = [];\nfor (const r of rijen) {\n  if (String(r.volgende_op) <= nuStr) {\n    const herhaalt = ['dagelijks', 'wekelijks', 'maandelijks'].includes(r.herhaling);\n    vervallen.push({\n      id: r.id,\n      tekst: r.tekst,\n      chatId: r.chat_id,\n      herhaalt,\n      nieuweVolgendeOp: herhaalt ? schuifDoor(r.volgende_op, r.herhaling) : null,\n    });\n  }\n}\n\nreturn vervallen.map(v => ({ json: v }));"
      }
    },
    {
      "id": "g1000000-0000-4000-8000-000000000004",
      "name": "Stuur herinnering",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-740, 0],
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=🔔 Herinnering: {{ $json.tekst }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "VERVANG_NA_IMPORT",
          "name": "Telegram Huishoudbot"
        }
      }
    },
    {
      "id": "g1000000-0000-4000-8000-000000000005",
      "name": "Herhalend?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-520, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.herhaalt }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "g1000000-0000-4000-8000-000000000006",
      "name": "Volgende keer instellen",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [-280, -120],
      "notesInFlow": true,
      "notes": "Selecteer hier de tabel 'herinneringen'",
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "herinneringen"
        },
        "filters": {
          "conditions": [
            {"keyName": "id", "condition": "eq", "keyValue": "={{ $json.id }}"}
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "volgende_op": "={{ $json.nieuweVolgendeOp }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    },
    {
      "id": "g1000000-0000-4000-8000-000000000007",
      "name": "Eenmalige verwijderen",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [-280, 120],
      "notesInFlow": true,
      "notes": "Selecteer hier de tabel 'herinneringen'",
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "herinneringen"
        },
        "filters": {
          "conditions": [
            {"keyName": "id", "condition": "eq", "keyValue": "={{ $json.id }}"}
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Elke 5 minuten": {
      "main": [[{"node": "Haal alle herinneringen op", "type": "main", "index": 0}]]
    },
    "Haal alle herinneringen op": {
      "main": [[{"node": "Bepaal vervallen", "type": "main", "index": 0}]]
    },
    "Bepaal vervallen": {
      "main": [[{"node": "Stuur herinnering", "type": "main", "index": 0}]]
    },
    "Stuur herinnering": {
      "main": [[{"node": "Herhalend?", "type": "main", "index": 0}]]
    },
    "Herhalend?": {
      "main": [
        [{"node": "Volgende keer instellen", "type": "main", "index": 0}],
        [{"node": "Eenmalige verwijderen", "type": "main", "index": 0}]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
