workflows/huishoudbot.json
{
  "id": "HBHoofdwerkstro1",
  "name": "Huishoudbot",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-1180, 0],
      "webhookId": "7c1f4e2a-9b3d-4c5e-8f6a-1d2e3f4a5b6c",
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "VERVANG_NA_IMPORT",
          "name": "Telegram Huishoudbot"
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Instellingen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-960, 0],
      "notesInFlow": true,
      "notes": "Vul hier jullie chat-id(s) en de botnaam in",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "allowedChatIds",
              "type": "string",
              "value": ""
            },
            {
              "id": "s2",
              "name": "botUsername",
              "type": "string",
              "value": "huishoudbot_bot"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Filter & voorbereiden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-740, 0],
      "parameters": {
        "jsCode": "// Bepaalt of de bot moet reageren en maakt het bericht klaar voor de agent.\nconst instellingen = $('Instellingen').first().json;\nconst update = $('Telegram Trigger').first().json;\nconst msg = update.message;\n\nif (!msg || !msg.text) { return []; }\n\nconst chatId = String(msg.chat.id);\nconst allowed = String(instellingen.allowedChatIds || '')\n  .split(',').map(s => s.trim()).filter(Boolean);\n\n// Nog geen whitelist ingevuld? Toon dan het chat-id, zodat je het kunt invullen.\nif (allowed.length === 0) {\n  return [{ json: { mode: 'direct', chatId, antwoord: `Hoi! Dit chat-id is: ${chatId}\\n\\nZet dit id in de node \\\"Instellingen\\\" (veld allowedChatIds) van de workflow \\\"Huishoudbot\\\" en sla de workflow op. Daarna werk ik alleen nog in deze chat.` } }];\n}\n\nif (!allowed.includes(chatId)) { return []; }\n\nlet text = msg.text.trim();\nconst isPrivate = msg.chat.type === 'private';\nconst botUser = String(instellingen.botUsername || '').replace('@', '').toLowerCase();\nconst mentioned = botUser !== '' && text.toLowerCase().includes('@' + botUser);\nconst isCommand = text.startsWith('/');\nconst isReplyToBot = !!(msg.reply_to_message && msg.reply_to_message.from && msg.reply_to_message.from.is_bot);\n\n// In de groep alleen reageren op /commando's, @mentions en replies op de bot\nif (!isPrivate && !mentioned && !isCommand && !isReplyToBot) { return []; }\n\nif (mentioned) {\n  text = text.replace(new RegExp('@' + botUser, 'ig'), '').trim();\n}\n\nif (/^\\/(start|help)(@\\w+)?$/i.test(text)) {\n  const help = [\n    'Ik ben jullie huishoudbot 🤖',\n    '',\n    'Praat gewoon Nederlands tegen me, bijvoorbeeld:',\n    '• zet melk en eieren op de boodschappenlijst',\n    '• wat staat er op de lijst?',\n    '• streep melk maar door',\n    '• wat eten we vandaag?',\n    '• we eten vanavond lasagne',\n    '• is er kip in de aanbieding?',\n    '',\n    'In de groep: noem me met @' + (botUser || 'botnaam') + ' of antwoord op een bericht van mij.',\n  ].join('\\n');\n  return [{ json: { mode: 'direct', chatId, antwoord: help } }];\n}\n\nif (text === '') { return []; }\n\nconst afzender = msg.from ? (msg.from.first_name || msg.from.username || 'onbekend') : 'onbekend';\nreturn [{ json: { mode: 'agent', chatId, text, afzender } }];"
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Direct antwoord?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-520, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "direct",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [-260, 120],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Je bent de huishoudbot van Lex en zijn vriendin. Je helpt met gedeelde lijstjes (boodschappen, klusjes, enz.), met bedenken wat ze gaan eten, en met supermarktaanbiedingen. Je antwoordt altijd in het Nederlands, kort en vriendelijk, zonder markdown-tabellen (gewone tekst met • opsommingstekens werkt het best in Telegram).\n\nVandaag is het {{ $now.setZone('Europe/Amsterdam').toFormat('cccc d LLLL yyyy') }}. Dit bericht komt van: {{ $json.afzender }}.\n\nSpelregels:\n- Gebruik ALTIJD je tools om lijstjes, maaltijden, voorkeuren en aanbiedingen te lezen of aan te passen. Verzin nooit zelf wat er op een lijst staat.\n- De standaardlijst is 'boodschappen'. Andere lijsten (bijv. 'klusjes') mogen ook; maak ze impliciet aan door er items aan toe te voegen.\n- Als iemand zegt dat iets gekocht/gedaan is (\"melk is binnen\", \"streep X door\"), vink het af met actie 'afvinken'.\n- Maaltijdsuggesties: haal eerst de voorkeuren en de maaltijdhistorie op (tool maaltijden) en kijk in de actuele aanbiedingen (tool aanbiedingen). Stel 2 à 3 gerechten voor die recent niet gegeten zijn, passen bij de voorkeuren, en benoem het expliciet als een hoofdingrediënt nu in de aanbieding is bij AH of Plus.\n- Als er een gerecht gekozen wordt (\"we eten vanavond X\"), log het met actie 'loggen'. Bied aan om ontbrekende ingrediënten op de boodschappenlijst te zetten.\n- Als iemand een blijvende voorkeur noemt (allergie, \"doordeweeks max 30 min koken\", lievelingsgerecht), sla die op met actie 'voorkeur_opslaan'.\n- Weet je iets niet of mislukt een tool, zeg dat dan eerlijk."
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-340, 340],
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "VERVANG_NA_IMPORT",
          "name": "Google Gemini (gratis tier)"
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000007",
      "name": "Geheugen per chat",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-180, 340],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Filter & voorbereiden').first().json.chatId }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000008",
      "name": "Tool: lijsten",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [-20, 340],
      "parameters": {
        "name": "lijsten",
        "description": "Beheert de gedeelde lijstjes (boodschappen, klusjes, enz.). Acties: 'toevoegen' (zet items op een lijst; geef items op als kommagescheiden tekst), 'tonen' (toon de open items van één lijst), 'overzicht' (toon alle lijsten met hun open items), 'afvinken' (markeer items als klaar/gekocht), 'verwijderen' (haal items definitief van de lijst). De standaardlijst is 'boodschappen'.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "HBToolLijsten001",
          "cachedResultName": "Huishoudbot tool — lijsten"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "actie": "={{ $fromAI('actie', 'Een van: toevoegen, tonen, overzicht, afvinken, verwijderen', 'string') }}",
            "lijst": "={{ $fromAI('lijst', 'Naam van de lijst, bijv. boodschappen of klusjes. Standaard: boodschappen', 'string') }}",
            "items": "={{ $fromAI('items', 'Kommagescheiden items, bijv. \"melk, eieren, brood\". Leeg laten bij tonen/overzicht', 'string') }}",
            "afzender": "={{ $('Filter & voorbereiden').first().json.afzender }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "actie", "displayName": "actie", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "lijst", "displayName": "lijst", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "items", "displayName": "items", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "afzender", "displayName": "afzender", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000009",
      "name": "Tool: maaltijden",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [140, 340],
      "parameters": {
        "name": "maaltijden",
        "description": "Beheert de maaltijdhistorie en eetvoorkeuren. Acties: 'loggen' (sla op wat er gegeten wordt, met optionele datum jjjj-mm-dd), 'historie' (toon de laatst gegeten maaltijden — gebruik dit vóór je een suggestie doet), 'voorkeur_opslaan' (sla een blijvende eetvoorkeur op, met sleutel en waarde), 'voorkeuren' (toon alle opgeslagen voorkeuren).",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "HBToolMaaltijd01",
          "cachedResultName": "Huishoudbot tool — maaltijden"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "actie": "={{ $fromAI('actie', 'Een van: loggen, historie, voorkeur_opslaan, voorkeuren', 'string') }}",
            "gerecht": "={{ $fromAI('gerecht', 'Naam van het gerecht (alleen bij loggen)', 'string') }}",
            "datum": "={{ $fromAI('datum', 'Datum jjjj-mm-dd (alleen bij loggen; leeg = vandaag)', 'string') }}",
            "sleutel": "={{ $fromAI('sleutel', 'Korte naam van de voorkeur, bijv. allergie of doordeweeks (alleen bij voorkeur_opslaan)', 'string') }}",
            "waarde": "={{ $fromAI('waarde', 'De inhoud van de voorkeur, bijv. \"geen noten\" (alleen bij voorkeur_opslaan)', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "actie", "displayName": "actie", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "gerecht", "displayName": "gerecht", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "datum", "displayName": "datum", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "sleutel", "displayName": "sleutel", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "waarde", "displayName": "waarde", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-00000000000a",
      "name": "Tool: aanbiedingen",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [300, 340],
      "parameters": {
        "name": "aanbiedingen",
        "description": "Zoekt in de actuele supermarktaanbiedingen van Albert Heijn en Plus (wekelijks opgehaald). Acties: 'zoeken' (zoek aanbiedingen op een zoekterm, bijv. 'kip'), 'alles' (toon de aanbiedingen van deze week). Gebruik dit bij vragen als 'is X in de aanbieding?' en bij maaltijdsuggesties.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "HBToolAanbied001",
          "cachedResultName": "Huishoudbot tool — aanbiedingen"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "actie": "={{ $fromAI('actie', 'Een van: zoeken, alles', 'string') }}",
            "zoekterm": "={{ $fromAI('zoekterm', 'Zoekterm, bijv. kip of melk (alleen bij zoeken)', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "actie", "displayName": "actie", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"},
            {"id": "zoekterm", "displayName": "zoekterm", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-00000000000b",
      "name": "Stuur antwoord",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [220, 0],
      "parameters": {
        "chatId": "={{ $('Filter & voorbereiden').first().json.chatId }}",
        "text": "={{ $json.antwoord ?? $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "VERVANG_NA_IMPORT",
          "name": "Telegram Huishoudbot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Instellingen", "type": "main", "index": 0}]]
    },
    "Instellingen": {
      "main": [[{"node": "Filter & voorbereiden", "type": "main", "index": 0}]]
    },
    "Filter & voorbereiden": {
      "main": [[{"node": "Direct antwoord?", "type": "main", "index": 0}]]
    },
    "Direct antwoord?": {
      "main": [
        [{"node": "Stuur antwoord", "type": "main", "index": 0}],
        [{"node": "AI Agent", "type": "main", "index": 0}]
      ]
    },
    "AI Agent": {
      "main": [[{"node": "Stuur antwoord", "type": "main", "index": 0}]]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Geheugen per chat": {
      "ai_memory": [[{"node": "AI Agent", "type": "ai_memory", "index": 0}]]
    },
    "Tool: lijsten": {
      "ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]
    },
    "Tool: maaltijden": {
      "ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]
    },
    "Tool: aanbiedingen": {
      "ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
